.shakkerfont {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-family: shakkerfont !important;
}
.shk-lishijilu:before {
  content: '';
}
.shk-yuanxing:before {
  content: '';
}
.shk-huabi1:before {
  content: '';
}
.shk-gongzuoliu:before {
  content: '';
}
.shk-xuanqu1:before {
  content: '';
}
.shk-juxing:before {
  content: '';
}
.shk-bangzhu:before {
  content: '';
}
.shk-shangchuantupian:before {
  content: '';
}
.shk-ico-zhinengkuotu:before {
  content: '';
}
.shk-wenzi:before {
  content: '';
}
.shk-shubiao:before {
  content: '';
}
.shk-tiaozhengyanse:before {
  content: '';
}
.shk-jubuzhonghui:before {
  content: '';
}
.shk-ico-jiancai:before {
  content: '';
}
.shk-ico-zhinengcachu:before {
  content: '';
}
.shk-ico-quchubeijing:before {
  content: '';
}
.shk-ico-gaoqingfangfa:before {
  content: '';
}
.shk-transform:before {
  content: '';
}
.shk-image_share:before {
  content: '';
}
.shk-image_Download:before {
  content: '';
}
.shk-poor:before {
  content: '';
}
.shk-great:before {
  content: '';
}
.shk-message:before {
  content: '';
}
.shk-weiji:before {
  content: '';
}
.shk-tiqutishici:before {
  content: '';
}
.shk-shiyongtupian:before {
  content: '';
}
.shk-huamianjingtiao:before {
  content: '';
}
.shk-fenggeyanzhan:before {
  content: '';
}
.shk-baochichuangyi:before {
  content: '';
}
.shk-menu:before {
  content: '';
}
.shk-moxing_college_s:before {
  content: '';
}
.shk-moxing_college_n:before {
  content: '';
}
.shk-xiangqing:before {
  content: '';
}
.shk-bar_changeface:before {
  content: '';
}
.shk-xuanqu:before {
  content: '';
}
.shk-share:before {
  content: '';
}
.shk-fanhui:before {
  content: '';
}
.shk-download:before {
  content: '';
}
.shk-info:before {
  content: '';
}
.shk-pic2pic:before {
  content: '';
}
.shk-add:before {
  content: '';
}
.shk-setting:before {
  content: '';
}
.shk-clean1:before {
  content: '';
}
.shk-history:before {
  content: '';
}
.shk-clean:before {
  content: '';
}
.shk-moxingku-litu:before {
  content: '';
}
.shk-xiangpi:before {
  content: '';
}
.shk-a-shortcutkey:before {
  content: '';
}
.shk-face_n:before {
  content: '';
}
.shk-position:before {
  content: '';
}
.shk-newimage:before {
  content: '';
}
.shk-Logout:before {
  content: '';
}
.shk-zoomout:before {
  content: '';
}
.shk-zoomin:before {
  content: '';
}
.shk-huabi:before {
  content: '';
}
.shk-dingbar-pintiezhonghui:before {
  content: '';
}
.shk-lora_xiangqing:before {
  content: '';
}
.shk-a-32_n:before {
  content: '';
}
.shk-a-34_s:before {
  content: '';
}
.shk-zidingyi_n:before {
  content: '';
}
.shk-a-34_n:before {
  content: '';
}
.shk-a-4_3_n:before {
  content: '';
}
.shk-a-32_s:before {
  content: '';
}
.shk-a-4_3_s:before {
  content: '';
}
.shk-a-23_n:before {
  content: '';
}
.shk-a-11_s:before {
  content: '';
}
.shk-zidingyi_s:before {
  content: '';
}
.shk-a-11_n1:before {
  content: '';
}
.shk-a-23_s:before {
  content: '';
}
.shk-bad_s:before {
  content: '';
}
.shk-good_n:before {
  content: '';
}
.shk-bad-s:before {
  content: '';
}
.shk-good_s:before {
  content: '';
}
.shk-dingbar-quchubeijing:before {
  content: '';
}
.shk-danchuang-xiangqingortiaozhuan:before {
  content: '';
}
.shk-dingbar-Tutorials:before {
  content: '';
}
.shk-dingbar-jiancai:before {
  content: '';
}
.shk-danchuang-gengduomoxing1:before {
  content: '';
}
.shk-danchuang-shoucang_s:before {
  content: '';
}
.shk-danchuang-biaoti-shoucang:before {
  content: '';
}
.shk-danchuang-sousuo:before {
  content: '';
}
.shk-danchuang-moxingguangchang:before {
  content: '';
}
.shk-lib_like:before {
  content: '';
}
.shk-kuangjia-gengduoshezhi:before {
  content: '';
}
.shk-prompt-lora-guanbi:before {
  content: '';
}
.shk-dingbar-zhinengcachu:before {
  content: '';
}
.shk-kuangjia-loratianjia:before {
  content: '';
}
.shk-ico-fanyi:before {
  content: '';
}
.shk-kuangjia-xiala:before {
  content: '';
}
.shk-danchuang-yunhangliang:before {
  content: '';
}
.shk-dingbar-zhinengkuotu:before {
  content: '';
}
.shk-kuangjia-ckpytihuan:before {
  content: '';
}
.shk-kuangjia-lorazhanweitu:before {
  content: '';
}
.shk-kuangjia-zengjia:before {
  content: '';
}
.shk-danchuang-zhuanhuantishici:before {
  content: '';
}
.shk-dingbar-jubuzhonghui1:before {
  content: '';
}
.shk-danchuang-shoucang_n:before {
  content: '';
}
.shk-kuangjia-shanchu:before {
  content: '';
}
.shk-kuangjia-suo:before {
  content: '';
}
.shk-kuangjia-zhankai:before {
  content: '';
}
.shk-danchuang-zuizhongchicun:before {
  content: '';
}
.shk-dingbar-gaoqingfangda:before {
  content: '';
}
.shk-shengchengqi-fasongdaoshengchengqi:before {
  content: '';
}
.shk-kuangjia-zhongzhi:before {
  content: '';
}
.shk-Vector:before {
  content: '';
}
.shk-tongbuchicun:before {
  content: '';
}
.shk-prompt-kuoxie:before {
  content: '';
}
.liblibfont {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-style: normal;
  font-family: liblibfont !important;
}
.DINA {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: DINA !important;
}
.icon-home_cloese:before {
  content: '';
}
.icon-Instagram:before {
  content: '';
}
.icon-topbar_arrow_down:before {
  content: '';
}
.icon-arrow_right:before {
  content: '';
}
.icon-home_picture:before {
  content: '';
}
.icon-home_run:before {
  content: '';
}
.icon-home_download:before {
  content: '';
}
.icon-book:before {
  content: '';
}
.icon-messega_new:before {
  content: '';
}
.icon-setting_new:before {
  content: '';
}
.icon-a-mylike_new:before {
  content: '';
}
.icon-mymodels_new:before {
  content: '';
}
.icon-logout_new:before {
  content: '';
}
.icon-search_new:before {
  content: '';
}
.icon-Discord:before {
  content: '';
}
.icon-TikTok:before {
  content: '';
}
.icon-Facebook:before {
  content: '';
}
.icon-X:before {
  content: '';
}
.icon-xiala:before {
  content: '';
}
.icon-youtube:before {
  content: '';
}
.icon-comfy_s:before {
  content: '';
}
.icon-home_n:before {
  content: '';
}
.icon-Earnings_s:before {
  content: '';
}
.icon-auto_s:before {
  content: '';
}
.icon-home_s1:before {
  content: '';
}
.icon-comfy_n:before {
  content: '';
}
.icon-a-AIGenerator_s:before {
  content: '';
}
.icon-Membership_s:before {
  content: '';
}
.icon-a-AIGenerator_n:before {
  content: '';
}
.icon-training_s:before {
  content: '';
}
.icon-training_n:before {
  content: '';
}
.icon-auto_n:before {
  content: '';
}
.icon-about_n:before {
  content: '';
}
.icon-Membership_n:before {
  content: '';
}
.icon-about_s:before {
  content: '';
}
.icon-Inspiration_n:before {
  content: '';
}
.icon-Inspiration_s:before {
  content: '';
}
.icon-Earnings_n:before {
  content: '';
}
.icon-zanbukeyong:before {
  content: '';
}
.icon-kecheng2:before {
  content: '';
}
.icon-chrome_close:before {
  content: '';
}
.icon-chrome:before {
  content: '';
}
.icon-shengtujiaocheng:before {
  content: '';
}
.icon-shouyi:before {
  content: '';
}
.icon-gongzuoliu_s:before {
  content: '';
}
.icon-gongzuoliu_n:before {
  content: '';
}
.icon-linggan_s:before {
  content: '';
}
.icon-tiktok:before {
  content: '';
}
.icon-hongshu:before {
  content: '';
}
.icon-bili:before {
  content: '';
}
.icon-wechat:before {
  content: '';
}
.icon-zhankai:before {
  content: '';
}
.icon-gaojishengtu:before {
  content: '';
}
.icon-xunlian:before {
  content: '';
}
.icon-shengtu:before {
  content: '';
}
.icon-gongzuoliu:before {
  content: '';
}
.icon-user:before {
  content: '';
}
.icon-a-darklight:before {
  content: '';
}
.icon-workflow_s:before {
  content: '';
}
.icon-workflow_n_light:before {
  content: '';
}
.icon-inspiration_s:before {
  content: '';
}
.icon-home_s:before {
  content: '';
}
.icon-inspiration_n_light:before {
  content: '';
}
.icon-home_n_light:before {
  content: '';
}
.icon-AIgenerrator:before {
  content: '';
}
.icon-jiaocheng:before {
  content: '';
}
.icon-daohang-zaixiangongzuoliu:before {
  content: '';
}
.icon-icon-gongzuoliu:before {
  content: '';
}
.icon-jiaqun:before {
  content: '';
}
.icon-comfy-xinjian:before {
  content: '';
}
.icon-comfy-dakai:before {
  content: '';
}
.icon-shakker_myincome:before {
  content: '';
}
.icon-shakker-fasongdaoshengchengqi:before {
  content: '';
}
.icon-a-0975-copyall:before {
  content: '';
}
.icon-a-0975-copylink:before {
  content: '';
}
.icon-comfy_lora_search:before {
  content: '';
}
.icon-comfy_star_s:before {
  content: '';
}
.icon-comfy_xiala:before {
  content: '';
}
.icon-comfy_model_close:before {
  content: '';
}
.icon-a-comfy_chooselora_close:before {
  content: '';
}
.icon-comfy_star_n:before {
  content: '';
}
.icon-comfyxiazai:before {
  content: '';
}
.icon-comfytuku:before {
  content: '';
}
.icon-comfybaocun:before {
  content: '';
}
.icon-comfyzhongzhi:before {
  content: '';
}
.icon-checkpoint_title:before {
  content: '';
}
.icon-lora_title:before {
  content: '';
}
.icon-shakker_logo:before {
  content: '';
}
.icon-Arrow_Left:before {
  content: '';
}
.icon-renwuduilie-dingbar-xin:before {
  content: '';
}
.icon-zaixianshengtu-dingbar-xin:before {
  content: '';
}
.icon-a-Frame7903:before {
  content: '';
}
.icon-a-097fasongdao:before {
  content: '';
}
.icon-xunlianguanli-xin:before {
  content: '';
}
.icon-a-097shoucang1:before {
  content: '';
}
.icon-a-097linggankubiaoti:before {
  content: '';
}
.icon-a-097tiqumoxingzuhe:before {
  content: '';
}
.icon-a-097tiqujiaose:before {
  content: '';
}
.icon-a-097tushengtu:before {
  content: '';
}
.icon-a-097fenggehua:before {
  content: '';
}
.icon-a-097kuoxie:before {
  content: '';
}
.icon-duorenwu_shibai:before {
  content: '';
}
.icon-duorenwu_suolvetu:before {
  content: '';
}
.icon-task_n:before {
  content: '';
}
.icon-task_s:before {
  content: '';
}
.icon-gallery:before {
  content: '';
}
.icon-keyboard:before {
  content: '';
}
.icon-Frame:before {
  content: '';
}
.icon-major_s:before {
  content: '';
}
.icon-Beginner_s:before {
  content: '';
}
.icon-Beginner_n:before {
  content: '';
}
.icon-major_n:before {
  content: '';
}
.icon-vip:before {
  content: '';
}
.icon-copy1:before {
  content: '';
}
.icon-share:before {
  content: '';
}
.icon-export:before {
  content: '';
}
.icon-document-upload:before {
  content: '';
}
.icon-clipboard:before {
  content: '';
}
.icon-copy:before {
  content: '';
}
.icon-convertshape-2:before {
  content: '';
}
.icon-a-3dcube:before {
  content: '';
}
.icon-linggankujihuotai:before {
  content: '';
}
.icon-Lightbulb-alt1:before {
  content: '';
}
.icon-Lightbulb-alt:before {
  content: '';
}
.icon-task-square:before {
  content: '';
}
.icon-eye:before {
  content: '';
}
.icon-grid-edit:before {
  content: '';
}
.icon-eye-slash:before {
  content: '';
}
.icon-a-setting0962:before {
  content: '';
}
.icon-a-translate0961:before {
  content: '';
}
.icon-gallery-add096:before {
  content: '';
}
.icon-timer1:before {
  content: '';
}
.icon-info-circle:before {
  content: '';
}
.icon-timer:before {
  content: '';
}
.icon-crown:before {
  content: '';
}
.icon-brush1:before {
  content: '';
}
.icon-cup:before {
  content: '';
}
.icon-pen-add:before {
  content: '';
}
.icon-invert_mask:before {
  content: '';
}
.icon-mask_padding:before {
  content: '';
}
.icon-translate:before {
  content: '';
}
.icon-book-saved:before {
  content: '';
}
.icon-star1:before {
  content: '';
}
.icon-Download:before {
  content: '';
}
.icon-External_Link:before {
  content: '';
}
.icon-pen-tool-2:before {
  content: '';
}
.icon-maximize:before {
  content: '';
}
.icon-forward-item:before {
  content: '';
}
.icon-link1:before {
  content: '';
}
.icon-More_Horizontal:before {
  content: '';
}
.icon-gallery-edit:before {
  content: '';
}
.icon-command:before {
  content: '';
}
.icon-a-rulerpen:before {
  content: '';
}
.icon-link:before {
  content: '';
}
.icon-shapes:before {
  content: '';
}
.icon-Remove_Minus:before {
  content: '';
}
.icon-Add_Plus:before {
  content: '';
}
.icon-layer:before {
  content: '';
}
.icon-minus-cirlce:before {
  content: '';
}
.icon-document-code-21:before {
  content: '';
}
.icon-scissor:before {
  content: '';
}
.icon-mask:before {
  content: '';
}
.icon-Chevron_Down:before {
  content: '';
}
.icon-clock:before {
  content: '';
}
.icon-document-code-2:before {
  content: '';
}
.icon-Navigation:before {
  content: '';
}
.icon-gallery-add:before {
  content: '';
}
.icon-brush:before {
  content: '';
}
.icon-a-Group2608962:before {
  content: '';
}
.icon-a-Group38330:before {
  content: '';
}
.icon-a-Group38258:before {
  content: '';
}
.icon-a-Group2608963:before {
  content: '';
}
.icon-a-2:before {
  content: '';
}
.icon-star:before {
  content: '';
}
.icon-shoucangstar:before {
  content: '';
}
.icon-play:before {
  content: '';
}
.icon-vip-base:before {
  content: '';
}
.icon-prokongzhitai:before {
  content: '';
}
.icon-proyuanquan:before {
  content: '';
}
.icon-shanchu:before {
  content: '';
}
.icon-probatch:before {
  content: '';
}
.icon-procaijian:before {
  content: '';
}
.icon-prokoutu:before {
  content: '';
}
.icon-prozhankai:before {
  content: '';
}
.icon-proshouqi:before {
  content: '';
}
.icon-proxiayibu:before {
  content: '';
}
.icon-prohuabi:before {
  content: '';
}
.icon-prodimension:before {
  content: '';
}
.icon-prosearch1:before {
  content: '';
}
.icon-proshangyibu:before {
  content: '';
}
.icon-promore:before {
  content: '';
}
.icon-projiantou:before {
  content: '';
}
.icon-proshoucang:before {
  content: '';
}
.icon-proinpanint:before {
  content: '';
}
.icon-proshauxin:before {
  content: '';
}
.icon-proyiwen:before {
  content: '';
}
.icon-procanvas:before {
  content: '';
}
.icon-proprompt1:before {
  content: '';
}
.icon-a-promatchstyle:before {
  content: '';
}
.icon-proprompt2:before {
  content: '';
}
.icon-pro_group_filled:before {
  content: '';
}
.icon-pro_group_border:before {
  content: '';
}
.icon-pro_merge:before {
  content: '';
}
.icon-pro_s_border:before {
  content: '';
}
.icon-pro_l_filled:before {
  content: '';
}
.icon-pro_l_border:before {
  content: '';
}
.icon-proCreative:before {
  content: '';
}
.icon-proprecision:before {
  content: '';
}
.icon-proreload:before {
  content: '';
}
.icon-pro_edit:before {
  content: '';
}
.icon-pro_price:before {
  content: '';
}
.icon-pro_mail:before {
  content: '';
}
.icon-pro_arrow_right:before {
  content: '';
}
.icon-a-proSizesynchronisation1:before {
  content: '';
}
.icon-prokeying1:before {
  content: '';
}
.icon-a-proexit:before {
  content: '';
}
.icon-prosuccesses:before {
  content: '';
}
.icon-a-proimagetc:before {
  content: '';
}
.icon-prostyle:before {
  content: '';
}
.icon-prohistory:before {
  content: '';
}
.icon-prolayer:before {
  content: '';
}
.icon-prolink:before {
  content: '';
}
.icon-progroup:before {
  content: '';
}
.icon-a-progeneratortc:before {
  content: '';
}
.icon-prosubtitle:before {
  content: '';
}
.icon-a-prodescendingorder:before {
  content: '';
}
.icon-a-prochooseabox:before {
  content: '';
}
.icon-proarrow:before {
  content: '';
}
.icon-proExclude:before {
  content: '';
}
.icon-procrop:before {
  content: '';
}
.icon-progoal:before {
  content: '';
}
.icon-proimages:before {
  content: '';
}
.icon-prodecline:before {
  content: '';
}
.icon-proapply:before {
  content: '';
}
.icon-proadd:before {
  content: '';
}
.icon-proshare:before {
  content: '';
}
.icon-a-proImportImages:before {
  content: '';
}
.icon-prodelet:before {
  content: '';
}
.icon-prodownloa:before {
  content: '';
}
.icon-a-proAddtoCanvas:before {
  content: '';
}
.icon-a-proNewAlbum:before {
  content: '';
}
.icon-proinpaint:before {
  content: '';
}
.icon-prolistings:before {
  content: '';
}
.icon-proUpload:before {
  content: '';
}
.icon-a-proascendingorder:before {
  content: '';
}
.icon-proclose:before {
  content: '';
}
.icon-proenlarge:before {
  content: '';
}
.icon-protab:before {
  content: '';
}
.icon-proprompt:before {
  content: '';
}
.icon-prodrag:before {
  content: '';
}
.icon-proCharacteristic:before {
  content: '';
}
.icon-a-proQuickSelection:before {
  content: '';
}
.icon-prokeying:before {
  content: '';
}
.icon-pronarrow:before {
  content: '';
}
.icon-protool:before {
  content: '';
}
.icon-a-proNumberofruns:before {
  content: '';
}
.icon-a-propulldown:before {
  content: '';
}
.icon-proNSFW:before {
  content: '';
}
.icon-a-proillegalcontent:before {
  content: '';
}
.icon-prodepot:before {
  content: '';
}
.icon-a-proSizesynchronisation:before {
  content: '';
}
.icon-a-proUploadFailed:before {
  content: '';
}
.icon-prosearch:before {
  content: '';
}
.icon-prorecord:before {
  content: '';
}
.icon-procollect:before {
  content: '';
}
.icon-proframe:before {
  content: '';
}
.icon-a-proinusing:before {
  content: '';
}
.icon-prolock:before {
  content: '';
}
.icon-procustom:before {
  content: '';
}
.icon-a-availableinterest:before {
  content: '';
}
.icon-a-unavailableinterest:before {
  content: '';
}
.icon-invite:before {
  content: '';
}
.icon-clarification:before {
  content: '';
}
.icon-taxation:before {
  content: '';
}
.icon-a-droopingclass1:before {
  content: '';
}
.icon-gain:before {
  content: '';
}
.icon-a-droopingclass:before {
  content: '';
}
.icon-a-fashioncollection:before {
  content: '';
}
.icon-incentives:before {
  content: '';
}
.icon-flux:before {
  content: '';
}
.icon-prompts:before {
  content: '';
}
.icon-elevation:before {
  content: '';
}
.icon-problem:before {
  content: '';
}
.icon-accreditation:before {
  content: '';
}
.icon-topic:before {
  content: '';
}
.icon-border_setting:before {
  content: '';
}
.icon-filled_weibo:before {
  content: '';
}
.icon-border_wrong_img:before {
  content: '';
}
.icon-filled_star:before {
  content: '';
}
.icon-border_change:before {
  content: '';
}
.icon-border_translate:before {
  content: '';
}
.icon-border_delete:before {
  content: '';
}
.icon-border_insert:before {
  content: '';
}
.icon-border_star:before {
  content: '';
}
.icon-border_random:before {
  content: '';
}
.icon-border_preset:before {
  content: '';
}
.icon-border_log_out:before {
  content: '';
}
.icon-border_add2:before {
  content: '';
}
.icon-border_function:before {
  content: '';
}
.icon-border_custom:before {
  content: '';
}
.icon-border_add_img:before {
  content: '';
}
.icon-border_txt:before {
  content: '';
}
.icon-time-1:before {
  content: '';
}
.icon-time:before {
  content: '';
}
.icon-border_unfold:before {
  content: '';
}
.icon-border_fold:before {
  content: '';
}
.icon-border_fold_window:before {
  content: '';
}
.icon-border_unfold_window:before {
  content: '';
}
.icon-filled_up:before {
  content: '';
}
.icon-filled_down:before {
  content: '';
}
.icon-border_queue:before {
  content: '';
}
.icon-border_increase:before {
  content: '';
}
.icon-border_share_pic:before {
  content: '';
}
.icon-filled_upload:before {
  content: '';
}
.icon-filled_like:before {
  content: '';
}
.icon-filled_message:before {
  content: '';
}
.icon-filled_fan:before {
  content: '';
}
.icon-filled_picture:before {
  content: '';
}
.icon-filled_reply:before {
  content: '';
}
.icon-filled_like-1:before {
  content: '';
}
.icon-filled_publish:before {
  content: '';
}
.icon-filled_xiaohongshu:before {
  content: '';
}
.icon-filled_notification:before {
  content: '';
}
.icon-filled_delete:before {
  content: '';
}
.icon-filled_social:before {
  content: '';
}
.icon-filled_edit:before {
  content: '';
}
.icon-filled_bilibili:before {
  content: '';
}
.icon-filled_tiktok:before {
  content: '';
}
.icon-filled_template:before {
  content: '';
}
.icon-filled_calendar:before {
  content: '';
}
.icon-filled_download:before {
  content: '';
}
.icon-border_filter:before {
  content: '';
}
.icon-border_search:before {
  content: '';
}
.icon-border_model:before {
  content: '';
}
.icon-border_fan:before {
  content: '';
}
.icon-border_draft:before {
  content: '';
}
.icon-border_more:before {
  content: '';
}
.icon-border_rank:before {
  content: '';
}
.icon-border_removed:before {
  content: '';
}
.icon-border_same:before {
  content: '';
}
.icon-border_picture:before {
  content: '';
}
.icon-border_run:before {
  content: '';
}
.icon-border_bulletin:before {
  content: '';
}
.icon-border_close-1:before {
  content: '';
}
.icon-border_time:before {
  content: '';
}
.icon-border_add:before {
  content: '';
}
.icon-border_sd:before {
  content: '';
}
.icon-border_user:before {
  content: '';
}
.icon-border_generate_info:before {
  content: '';
}
.icon-border_right:before {
  content: '';
}
.icon-border_share:before {
  content: '';
}
.icon-border_close:before {
  content: '';
}
.icon-border_upload:before {
  content: '';
}
.icon-border_reviewing:before {
  content: '';
}
.icon-border_dark_mode:before {
  content: '';
}
.icon-border_inspire:before {
  content: '';
}
.icon-border_link:before {
  content: '';
}
.icon-border_catalog:before {
  content: '';
}
.icon-border_up:before {
  content: '';
}
.icon-border_generate_pic:before {
  content: '';
}
.icon-border_left:before {
  content: '';
}
.icon-border_like-1:before {
  content: '';
}
.icon-border_right-1:before {
  content: '';
}
.icon-border_like:before {
  content: '';
}
.icon-border_home:before {
  content: '';
}
.icon-border_follow:before {
  content: '';
}
.icon-border_download:before {
  content: '';
}
.icon-border_income:before {
  content: '';
}
.icon-border_copy:before {
  content: '';
}
.icon-border_safe:before {
  content: '';
}
.icon-border_banned:before {
  content: '';
}
.icon-border_material:before {
  content: '';
}
.icon-border_up-1:before {
  content: '';
}
.icon-border_rejected:before {
  content: '';
}
.icon-border_down:before {
  content: '';
}
.icon-border_help:before {
  content: '';
}
.icon-border_wrong:before {
  content: '';
}
.icon-border_check:before {
  content: '';
}
